.date-card {
  position: relative;
  width: 70px;
  height: 40px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  margin: 5px;
  cursor: default;
}

.date-card .front-facing {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #f15a27;
  border: 2px white solid;
}

.date-card .weekend {
  background-color: #2044a2;
}

.date-card .front-facing .date-name {
  width: 100%;
  font-family: Pacifico;
  position: absolute;
  top: 25%;
  font-size: 13px;
  text-align: center;
  color: white;
}

@media only screen and (max-width:600px){
  .date-card {
    width: 44px;
    height: 20px;
    margin: 2px;
  }
  
  .date-card .front-facing .date-name {
    font-size: 8px;
    text-align: center;
    color: white;
  }
}