.week-component {
  width: 100%;
}

.week-title {
  width: 100%;
  font-family: sans-serif;
}

.month-title {
  height: 40px;
  width: 100%;
  background-color: #f15a27;
  font-family: Pacifico;
  top: 25%;
  font-size: 22px;
  color: white;
}
.month-title:hover{
  font-size: 25px;
}

.month-component {
  border: 2px #f15a27 solid;
  background-color: beige;
  margin: 2px;
  padding-bottom: 6px;
  width: 360px;
}

.month-component:hover {
  background-color: lightgrey;
  transition: 0.25s all;
}
