.week-component {
  width: 100%;
}

.week-title {
  width: 100%;
  font-family: sans-serif;
}

.month-title {
  height: 40px;
  width: 100%;
  background-color: green;
  font-family: Pacifico;
  top: 25%;
  font-size: 22px;
  color: white;
}
.month-title:hover{
  font-size: 25px;
}

.month-component {
  border: 2px green solid;
  background-color: beige;
  margin: 3px;
  padding-bottom: 6px;
  width: 360px;
}

.month-component:hover {
  box-shadow: 2px 2px 20px green;
  transform: scale(1.01)
}
